<%- if user_signed_in? -%>
  <div>
    <ul class="breadcrumbs">
      <li class="current"><%= link_to 'Games', games_path %></li>
    </ul>
    <%- unless @games == [] -%>
      <h5>My games:</h5>
      <table width=100%>
        <tbody>
          <%- @games.each do |game| -%>
            <tr><td><%= link_to game.name, game_path(game) %></td></tr>
          <%- end -%>
        </tbody>
      </table>
    <%- end -%>
   <%= button_to 'Create A Game', new_game_path, method: :get, class: 'button small' %>
  </div>
<%- end -%>
