<%- if user_signed_in? -%>
  <div>
    <h5>My games:</h5>
    <ol>
      <%- @user.games.each do |game| -%>
      <li><%= link_to game.name, game_path(game) %></li>
      <%- end %>
    </ol>
  </div>
<%- else %>
  <div class="panel callout radius">
    <p class="sharp">Handling your games' <a href="http://en.wiktionary.org/wiki/administrivia">administrivia</a> so that you don't have to.</p>
    <p>Originally coded in January of 2014, <span class="hard">Living LARP</span> was a &quot;breakable toy&quot; project for <a href="http://www.launchacademy.com">Launch Academy</a>. It is intended to be a suite of tools to make LARP management as painless as possible. Our hope is that this will help transition the craft of LARP into the modern, digitized world. Success for this project lies in making games easier to run and more accessible.</p>
    <p>This app is currently in <a href="https://en.wikipedia.org/wiki/Software_release_life_cycle">pre-alpha</a>, which means that it's not done baking yet. The core functions are not all in place, and you may encounter errors. Please do not save anything business-crucial here, as the database may be wiped periodically prior to alpha release.</p>
  </div>
<%- end -%>
