<%- if user_signed_in? -%>
  <ul class="breadcrumbs">
    <li class="current"><%= link_to 'Characters', characters_path %></li>
  </ul>
  <div>
    <h5>My characters:</h5>
    <table width=100%>
      <thead>
        <tr><th>Character</th><th>Game</th></tr>
      </thead>
      <tbody>
        <%- current_user.characters.each do |character| -%>
          <tr><td><%= link_to character.name, character_path(character) %></td><td><%= link_to character.game.name, game_path(character.game) %></td></tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
  <%= button_to 'Create A Character', new_character_path, method: :get, class: 'button small' %>
<%- end -%>

